html,body, #wrapper {
    border: 1px solid violet;
    height: 100%;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


canvas{
    border: 1px solid black;
    width: 800px;
    height: 800px;
    image-rendering: pixelated;
}